page-list-master {

  .card-title-md {
  	text-align: center;
  }

  .toolbar-title-md{
  	text-align: center;
  }

  .card-title-ios {
  	text-align: center;
  }

  .toolbar-title-ios{
  	text-align: center;
  }
}
